@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body,
html {
  color: #000;
  background: #fff;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Plus Jakarta Sans";
}

/* Navbar Css */

.nav-switch-text {
  color: #525866;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.084px;
}
.nav-switch-button {
  border-radius: 8px;
  border: 1px solid #e2e4e9;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(82, 88, 102, 0.06);
  padding: 6px;
  color: #525866;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.084px;
}

/* Seller/Buyer Form CSS */

.create-account-text {
  color: #0a0d14;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.create-account-sub-text {
  color: #525866;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.176px;
}

/* Tabs CSS */

.sb-tab-active {
  padding: 4px 2px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 6px 10px 0px rgba(27, 28, 29, 0.06),
    0px 2px 4px 0px rgba(27, 28, 29, 0.02);
  color: #ff007a;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.sb-tab-non-active {
  color: #475467;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.084px;
}

/* Footer CSS */

.footer-text {
  color: #525866;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.084px;
}

/* Form CSS */

.sb-form-label {
  color: #0a0d14;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.sb-form-input-field {
  padding: 8px 8px 8px 10px;
  border-radius: 8px;
  border: 1px solid #e2e4e9;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(228, 229, 231, 0.24);
  color: #0a0d14;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.dropdown-industry-input-field {
  padding: 8px 8px 8px 10px;
  border-radius: 8px;
  border: 1px solid #e2e4e9;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(228, 229, 231, 0.24);
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.dropdown-industry {
  color: #0a0d14;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.react-tel-input .form-control {
  position: relative;
  padding-left: 48px !important;
  margin-left: 0;
  width: 100% !important;
  outline: none;
  height: auto !important;
  padding: 8px 8px 8px 10px;
  border-radius: 8px !important;
  border: 1px solid #e2e4e9 !important;
  background: #fff !important;
  box-shadow: 0px 1px 2px 0px rgba(228, 229, 231, 0.24) !important;
  color: #0a0d14 !important;
  font-family: "Plus Jakarta Sans" !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  letter-spacing: -0.084px !important;
}

.react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  background-color: #fff !important;
  border-radius: 8px 0 0 8px !important;
  border: none !important;
}

.react-tel-input .selected-flag {
  outline: none;
  position: relative;
  width: 38px;
  height: 100%;
  border: 1px solid #e2e4e9 !important;
  border-radius: 8px 0 0 8px !important;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: #fff !important;
}

.sb-form-submit-button-non-active {
  padding: 10px 8px;
  border-radius: 8px;
  background: #e2e4e9;
  color: #868c98;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.084px;
}
.sb-form-submit-button-active {
  padding: 10px 8px;
  border-radius: 8px;
  background: #ff007a;
  color: #fff;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.sb-form-or-text {
  color: #868c98;
  font-family: "Plus Jakarta Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.22px;
  text-transform: uppercase;
}

.sb-form-or-button1 {
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #ff007a;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #ff007a;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.sb-form-or-button2 {
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #2ca01c;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #2ca01c;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.sb-form-or-button3 {
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #111;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #111;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.sb-form-right-text {
  color: #101828;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.36px;
}
.sb-form-right-sub-text {
  color: #344054;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.176px;
}
/* Password Validation CSS */

.password-status-text {
  color: #525866;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.password-li-text {
  color: #525866;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

/* OTP Verification CSS */

.otp-top-text {
  color: #0a0d14;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.otp-top-sub-text {
  color: #525866;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.176px;
}
.otp-top-email-text {
  color: #0a0d14;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.176px;
  text-decoration-line: underline;
}
.MuiOtpInput-Box .MuiInputBase-input {
  padding: 16px 8px !important;
  border-radius: 10px !important;
  border: 1px solid #e2e4e9 !important;
  background: #fff !important;
  box-shadow: 0px 1px 2px 0px rgba(228, 229, 231, 0.24) !important;
  color: #0a0d14 !important;
  text-align: center !important;
  font-family: "Plus Jakarta Sans" !important;
  font-size: 24px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 32px !important;
  letter-spacing: -0.36px !important;
  transition: all 0.3s ease !important;
}

/* Hover state */
.MuiOtpInput-Box .MuiInputBase-input:hover {
  border-color: #ff007a !important; /* Change border color on hover */
  background-color: #fff !important; /* Optional background color */
  border-radius: 10px !important;
}

/* Focus state */
.MuiOtpInput-Box .MuiInputBase-input:focus {
  border-color: #e9307d !important; /* Highlight border color on focus */
  outline: none !important; /* Remove default focus outline */
  border-radius: 10px !important;
}

/* Typing state (input with a value) */
.MuiOtpInput-Box .MuiInputBase-input:not(:placeholder-shown) {
  border: 1px solid #e2e4e9 !important; /* Change border color when input has a value */
  background-color: #fff !important; /* Optional background color when typing */
  border-radius: 10px !important;
}

/* Fieldset styles (optional for visual refinement) */
.MuiOtpInput-Box .MuiOutlinedInput-notchedOutline {
  border-color: transparent !important; /* Hide original fieldset border */
  border-radius: 10px !important;
}

.MuiOtpInput-Box .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #ff007a !important;
  border-radius: 10px !important;
}

.MuiOtpInput-Box
  .MuiInputBase-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #ff007a !important;
  border-radius: 10px !important;
}
.otp-resend-text {
  color: #667085;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.084px;
}
.otp-resend-timer-text {
  color: #667085;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.084px;
}
.otp-change-email-text {
  color: #0a0d14;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.084px;
  text-decoration-line: underline;
}

/* Onboarding CSS */

.ob-text {
  color: #0a0d14;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.ob-instruction-text {
  color: #0a0d14;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.084px;
}
.ob-instruction-sub-text {
  color: #525866;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.ob-accordion-heading {
  color: #0a0d14;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.176px;
}

.ob-required-start {
  color: #375dfb;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.react-tel-input {
  font-family: "Plus Jakarta Sans" !important;
}

.currency-input-container {
  position: relative;
  width: 100%;
}

.currency-input-container input {
  width: 100%;
  padding: 8px 120px 8px 30px;
}

.currency-input-container span {
  position: absolute;
  left: 10px;
  top: 49%;
  transform: translateY(-50%);
  color: #868c98;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.currency-input-container select {
  position: absolute;
  right: 10px;
  top: 49%;
  transform: translateY(-50%);
  border-left: 1px solid #e2e4e9;
  background-color: #fff;
  color: #0a0d14;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.sb-form-optional-text {
  color: #525866;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.documents-tabs-wrapper {
  padding: 4px;
  border-radius: 10px;
  border: 1px solid #eaecf0;
  background: #f6f8fa;
}

.documents-tab-active {
  padding: 6px 12px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1),
    0px 1px 2px 0px rgba(16, 24, 40, 0.06);
  color: #0a0d14;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.documents-tab-non-active {
  padding: 6px 12px;
  border-radius: 6px;
  background: transparent;
  color: #0a0d14;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.documents-wrapper-dotted {
  padding: 20px 20px 16px 20px;
  border-radius: 16px;
  border: 1px dashed #cdd0d5;
  background: #fff;
}

.documents-heading {
  color: #0a0d14;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.072px;
}
.documents-sub-heading {
  color: #525866;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.documents-button {
  padding: 6px;
  border-radius: 8px;
  border: 1px solid #e2e4e9;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(82, 88, 102, 0.06);
  color: #525866;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.084px;
}
.documents-wrapper-normal {
  padding: 20px 20px 16px 20px;
  border-radius: 16px;
  border: 1px solid #cdd0d5;
  background: #fff;
}

.tab-send-email-text-wrapper {
  padding: 8px 16px;
  border-radius: 8px;
  background: #ebf1ff;
}
.tab-send-email-text {
  color: #525866;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.084px;
}
.tab-send-email-button {
  color: #0a0d14;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.084px;
  text-decoration-line: underline;
}

.terms-and-conditions-text {
  color: #0a0d14;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.terms-hyperlink {
  color: #375dfb;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.084px;
  text-decoration-line: underline;
}

.sb-form-cancel-button {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #cdd0d5;
  color: #525866;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.084px;
}
.sb-form-submit-button {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ff007a;
  background: #ff007a;
  box-shadow: 0px 1px 2px 0px rgba(233, 58, 125, 0.48), 0px 0px 0px 1px #ff007a;
  color: #fff;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.084px;
}

/* Steps CSS */

.left-steps-services-heading {
  color: #868c98;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
.left-steps-services-selected {
  color: #525866;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.left-steps-services-list-heading-selected {
  color: #101828;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.left-steps-services-list-heading-not-selected {
  color: #475467;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.left-steps-services-change-button {
  padding: 6px;
  border-radius: 8px;
  border: 1px solid #e2e4e9;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(82, 88, 102, 0.06);
  color: #525866;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.steps-heading {
  color: #344054;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.steps-sub-heading {
  color: #475467;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.steps-visit-sandbox-button {
  padding: 8px;
  border-radius: 8px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.12) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #375dfb;
  box-shadow: 0px 1px 2px 0px rgba(37, 62, 167, 0.48), 0px 0px 0px 1px #375dfb;
  color: #fff;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.084px;
}

/* Owner Screen CSS */

.os-heading {
  color: #0a0d14;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.os-sub-heading {
  color: #525866;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.176px;
}

.os-section-heading {
  color: #0a0d14;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.os-services-wrapper {
  padding: 16px;
  border-radius: 16px;
  background: #fff;
}
.os-services-list-heading {
  color: #ff007a;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.2px;
  letter-spacing: -0.132px;
}

.os-services-upper-tag-wrapper-seller {
  padding: 2px 8px;
  border-radius: 999px;
  background: #375dfb;
  color: #fff;
  font-family: "Plus Jakarta Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.22px;
  text-transform: uppercase;
}
.os-services-upper-tag-wrapper-buyer {
  padding: 2px 8px;
  border-radius: 999px;
  background: #df1c41;
  color: #fff;
  font-family: "Plus Jakarta Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.22px;
  text-transform: uppercase;
}

.os-services-sub-heading {
  color: #0a0d14;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.ob-services-free-package-tag {
  padding: 4px 8px 4px 4px;
  border-radius: 6px;
  border: 1px solid var(--stroke-soft-200, #e2e4e9);
  background: #fff;
  color: #525866;
  font-family: "Plus Jakarta Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

/* MODAL CSS */

.modal-custom-css {
  filter: drop-shadow(0px 0px 4px #fff);
}

.modal-heading-custom {
  color: #0a0d14;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.27px;
}
